<div class="flex flex-col">
  <div class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. puma"
        #input
      />
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" class="tbl rounded-lg">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let category" [title]="category.name">
        {{ category.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let category" [title]="category.description">
        {{ category.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let category" [title]="category.createdAt">
        {{ category.createdAt | date : 'dd/MM/yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions"></th>
      <td mat-cell *matCellDef="let category" class="actions">
        <app-category-actions [category]="category"></app-category-actions>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row text-center" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        There are not categories
      </td>
    </tr>
  </table>
</div>
