<div class="flex flex-col">
  <h2>{{ categoryId ? 'Edit Category' : 'New Category' }}</h2>
  <form [formGroup]="categoryFormGroup">
    <div class="mt-3">
      <mat-form-field class="w-full">
        <mat-label class="required"> Name </mat-label>
        <input
          matInput
          [formControlName]="categoryFormFields.Name"
          [spellcheck]="false"
        />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-3">
      <mat-form-field class="w-full">
        <mat-label> Description </mat-label>
        <textarea
          matInput
          row="50"
          row="50"
          [formControlName]="categoryFormFields.Description"
          [spellcheck]="false"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="mt-3 flex flex-row justify-center">
      <div class="mr-2">
        <button
          mat-flat-button
          color="accent"
          [disabled]="isLoadingSignal()"
          [class.btn-loading-spinner]="isLoadingSignal()"
          (click)="location.back()"
        >
          Cancel
        </button>
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          [disabled]="isLoadingSignal()"
          [class.btn-loading-spinner]="isLoadingSignal()"
          (click)="save$.next()"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
</div>
