<mat-list class="bg-blue-800" style="height: 98%">
  <div class="flex flex-row justify-center">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>
  <mat-divider></mat-divider>

  <div class="flex flex-col mt-8">
    <ng-container *ngFor="let nav of navList">
      <a class="mb-5" routerLink="/{{ nav.link }}">
        <div class="flex flex-col items-center">
          <div class="pl-2">
            <mat-icon class="text-white text-base">{{ nav.icon }}</mat-icon>
          </div>
          <div class="text-white text-xs">{{ nav.text }}</div>
        </div>
      </a>
    </ng-container>

    <a (click)="logout()">
      <div class="flex flex-col items-center">
        <div class="pl-2">
          <mat-icon class="text-white text-base">logout</mat-icon>
        </div>
        <div class="text-white text-xs">Salir</div>
      </div>
    </a>
  </div>
</mat-list>
