<mat-toolbar color="primary">
  <mat-toolbar-row class="justify-content-between">
    <button
      mat-icon-button
      (click)="toggleSidebar()"
    >
      <mat-icon class="text-white">menu</mat-icon>
    </button>
    <div class="text-xl text-white hidden sm:block font-extrabold">
      Inventory
    </div>
    <div class="row mr-2 ml-auto">
      <ul>
        <li>
          <button
            mat-button
            [matMenuTriggerFor]="menu"
          >
            <div class="flex flex-row items-center">
              <mat-icon class="text-white">account_box</mat-icon>
              <div class="text-white">Fede</div>
              <mat-icon class="text-white ml-1">keyboard_arrow_down</mat-icon>
            </div>

          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="logout()"
            >
              <mat-icon>exit_to_app</mat-icon>
              Salir
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="isLoadingSignal()">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
